.game {
  background-color: grey;
  height: 600px;
  width: 1000px;
  position: relative;
  margin: auto;
}

.player1 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: black;
  transition: top .05s linear, left .05s linear 0s;
}

.player2 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: blue;
  transition: top .05s linear, left .05s linear 0s;
}


.bulletLvl1 {
  height: 10px;
  width: 50px;
  background-color: white;
  position: absolute;
}
.bulletLvl2 {
  height: 10px;
  width: 50px;
  background-color: yellow;
  position: absolute;
}
.bulletLvl3 {
  height: 10px;
  width: 50px;
  background-color: red;
  position: absolute;
}
.bulletLvlMax {
  height: 10px;
  width: 50px;
  background-color: blue;
  position: absolute;
}

.wave1 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
}

.wave2 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: brown;
}

.wave3 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: orange;
}
