.game {
  background-color: grey;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.introScreen {
  background-color: #000;
}

.player1 {
  position: absolute;
  background-color: black;
  /* transition: top .05s linear, left .05s linear 0s; */
}

.player2 {
  position: absolute;
  background-color: blue;
  /* transition: top .05s linear, left .05s linear 0s; */
}


.bulletLvl1 {
  background-color: white;
  position: absolute;
}
.bulletLvl2 {
  background-color: yellow;
  position: absolute;
}
.bulletLvl3 {
  background-color: red;
  position: absolute;
}
.bulletLvlMax {
  background-color: blue;
  position: absolute;
}

.type1 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
}

.type2 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: brown;
}

.type3 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: orange;
}

.type4 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: purple;
}

.type5 {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: green;
}
