body {
  background: lightgrey;
}

.game {
  background-color: grey;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.introScreen {
  position: relative;
  background-color: black;

}

.playerSelectScreen {
  position: relative;
  background-color: black;
}
.player1Character {
  box-sizing: border-box;
  position: absolute;
    background-color: black;
    padding: 18px 0 0 15px;
}

.player1Heading {
  text-align: center;
  position: absolute;
  color: white;
  font-family: 'Press Start 2P';
}

.player2Heading {
  text-align: center;
  position: absolute;
  color: white;
  font-family: 'Press Start 2P';
}

.player1SelectLeft {
  position: absolute;

    background-color: green;
}



.player1SelectRight{
  position: absolute;

    background-color: blue;
}

.player2Mode, .selectMode {
  text-align: center;
  position: absolute;
  color: white;
  font-family: 'Press Start 2P';
  padding-top: 10px;
}

.player2Character {
  box-sizing: border-box;

  position: absolute;
    background-color: black;
    padding: 18px 0 0 15px;
}

.player2SelectLeft {
  position: absolute;

  background-color: red;
}

.player2SelectRight {
  position: absolute;

  background-color: red;
}

.logo {
  position: absolute;
  animation: animateLogo 1s 3s forwards
}

@keyframes animateLogo{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* font-family: 'Press Start 2P', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Monoton', cursive; */
/* font-family: 'Orbitron', sans-serif */
.letter-g {
  position: absolute;
  animation: animateG 1s 3.5s forwards;
}

.alactic {
  color: white;
  position: absolute;
  font-size: 100px;
  font-family: Orbitron;
  animation: animateAlactic 1s 4s backwards ease-out;
}

.letter-a {
  position: absolute;
  animation: animateA 1s 3.5s forwards;
}

.ssembly {
  color: white;
  position: absolute;
  font-size: 100px;
  font-family: Orbitron;
  animation: animateSsembly 1s 4.8s backwards ease-out;
}

.a-hole {
  background-color: black;
  position: absolute;
  border-radius: 50%;
  transition: all 2s;
  animation: animateAHole 0.5s backwards 4.5s;
  z-index: 999;
}
@keyframes animateAHole {
  0% {
    opacity: 0;
  }
}

.animate-a-hole {
    transform: scale(50);
}

.start-game-button {
  position: absolute;
  color: white;
  font-size: 25px;
  font-family: 'Press Start 2P';
  cursor: pointer;
  animation: flash 1s infinite;
  text-align: center;
  width: 300px;
}

.start-mission {
  box-sizing: border-box;
  position: absolute;
  color: white;
  font-size: 18px;
  font-family: 'Press Start 2P';
  cursor: pointer;
  text-align: center;
  background-color: lightgrey;
  border-radius: 3%;
  padding-top: 5px;
}



@keyframes flash{
  0%,40% {
    color: transparent;
  }
  40%,100% {
    color: white;
  }
}


@keyframes animateSsembly {
  from {
    left: 1000px;
  }
}

@keyframes animateG {
  100% {
    top: 0px;
    left: 150px;
  }
}

@keyframes animateA {
  100% {
    top: 230px;
    left: 220px;
  }
}

@keyframes animateAlactic {
  from {
    left: 1000px;
  }
}




.player1 {
  position: absolute;
  z-index: 2;
  /* transition: top .05s linear, left .05s linear 0s; */
}

.player2 {
  position: absolute;
    z-index: 1;
  /* transition: top .05s linear, left .05s linear 0s; */
}


.bulletLvl1 {
  background-color: white;
  position: absolute;
}
.bulletLvl2 {
  background-color: yellow;
  position: absolute;
}
.bulletLvl3 {
  background-color: red;
  position: absolute;
}
.bulletLvlMax {
  background-color: blue;
  position: absolute;
}

.type1 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
}

.type2 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: brown;
}

.type3 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: orange;
}

.type4 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: purple;
}

.type5 {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: green;
}
